<?xml version="1.0"?>
<launch>

  <!--**********************************************************-->
  <!-- Hi-Ros Skeleton Filter Node: Parameters override and Run -->
  <!--**********************************************************-->
  <include file="$(find hiros_skeleton_filter)/launch/default.launch">

    <arg name="node_required"    value="true"                 />
    <arg name="node_name"        value="node_01"              />

    <arg name="input_topic"      value="/raw_skel_group"      />
    <arg name="output_topic"     value="/filtered_skel_group" />
    <arg name="cutoff_frequency" value="6.0"                  />

  </include>

</launch>
