<?xml version="1.0"?>
<launch>

  <arg name="node_name"     default="node"  />
  <arg name="node_required" default="false" />

  <!--***********************************-->
  <!-- Hi-Ros Skeleton Filter Parameters -->
  <!--***********************************-->
  <arg name="input_topic"      default=""   />
  <arg name="output_topic"     default=""   />
  <arg name="cutoff_frequency" default="10" />

  <!--*****************************-->
  <!-- Hi-Ros Skeleton Filter Node -->
  <!--*****************************-->
  <node pkg="hiros_skeleton_filter" type="hiros_skeleton_filter" name="$(arg node_name)" output="screen" required="$(arg node_required)">
    <param name="input_topic"      type="str"    value="$(arg input_topic)"      />
    <param name="output_topic"     type="str"    value="$(arg output_topic)"     />
    <param name="cutoff_frequency" type="double" value="$(arg cutoff_frequency)" />
  </node>

</launch>
